<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/chqjs/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/chqjs/vue.min.js}"></script>
</head>
<body>
<div id="app">
    <p><input type="text" v-model="username"></p>
    <p><input type="text" v-model="usertel"></p>
    <div @click='printinfo'>打印</div>
</div>

<script>
    var app = new Vue({
        el:'#app',
        data:{
            username:'',
            usertel:''
        },
        methods:{
            printinfo:function () {
                console.log(this.username);
            }
        }
    })
</script>
</body>
</html>