@import "common";
  #casedetail_box {
    .ca_case,.ca_other{
      padding:1rem;
      margin:1rem;
      background-color:#fff;
      border-radius: .5rem;
      font-size:1.3rem;
      color:#808080;
      .user,.dsr{
        p{
          width:50%;
          margin:.2rem 0;
          line-height:2rem;
          span{
            color:#333;
          }
        }
        &{
          content:'';
          clear:both;
          display:block;
        }
      }
      .jfcontent{
        width:100%;
        margin:.2rem 0;
        line-height:2rem;
        span{
          color:#333;
        }
      }
    }
    .ca_other{
      p{
        margin:.2rem 0;
        line-height:2rem;
        span{
          color: #333;
        }
      }

    }
    .ca_detail{
      display: flex;
      justify-content: center;
      margin-top:5rem;
        flex:1;
        .ca_detail_diary,.ca_detail_result{
          margin:2rem;
          padding:.7rem 3rem;
          font-size:1.4rem;
          color:#fff;
          border-radius:1rem;
        }
        .ca_detail_diary{
          background-color:#ccc;
        }
        .ca_detail_result{
          background-color:#60c89b;
        }
    }
  }
