@import "common";
#cresult_box{
  padding:1rem;
  font-size:1.3rem;
  color:#666;
  .result_condition,.result_state,.fileUp,.confirm{
    padding:1rem;
    line-height:2rem;
    background: #fff;
    border-radius:.5rem;
    margin-bottom:1rem;
  }
  /*调解结果条件*/
  .result_condition{
    .result_condition1{
      display: flex;
      align-items: center;
      align-content: flex-start;
      img{
        width:7%;
        margin-right:.5rem;
      }
      span{
        display: block;
      }
      input[type='text']{
        border-width: 0 0 1px 0;
        border-bottom:1px solid #ccc;
        width: 2rem;
        /*height:2rem;*/
        padding:0 .5rem;
        font-size:1.3rem;
        outline: none;
        color:#14c177;
      }
    }
  }
  /*调解结果状态*/
  .result_state{
    display: flex;
    .result_state1{
      flex: 1;
      display: flex;
      align-items: center;
      img{
        width:15%;
        margin-right:.5rem;
      }
    }
  }
  /*上传文件*/
  .fileUp{
    display: flex;
    justify-content: center;
    color:#14c177;
    margin-bottom:10rem;
    img{
      width:7%;
      height:7%;
    }
  }
  /*确认保存*/
  .confirm{
    width: 100%;
    color:#fff;
    background-color:#14c177;
    text-align: center;
  }
}