@import "base.css";
.float_left {
  float: left;
}
.float_right {
  float: right;
}
/*全屏*/
html,
body {
  height: 100%;
  background-color: #f5f5f5;
  overflow-y: auto;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
/*顶部标题栏*/
#head {
  width: 100%;
  background-color: #000;
  color: #fff;
  font-size: 1.7rem;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  position: relative;
}
#head:after {
  content: '';
  display: block;
  clear: both;
}
#head .return_img {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
#head .return_img img {
  width: 2rem;
}
#head .head_title {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}
.prompt {
  padding: 1rem;
  line-height: 2rem;
  font-size: 1.3rem;
}
.next_step {
  display: block;
  margin: 5rem 1rem 0;
  background-color: #60c89b;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  letter-spacing: .5rem;
  border-radius: .5rem;
  padding: 1rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
.xuankuang {
  position: relative;
}
.xuankuang .check_label {
  width: 30px;
  height: 30px;
  background-color: #eee;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 20%;
  position: absolute;
  top: 0;
  left: 0;
}
.xuankuang .check_label::after {
  content: '';
  opacity: .3;
  width: 20px;
  height: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
  border: 3px solid #ccc;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.xuankuang .check_label .check {
  display: none;
}
.xuankuang .check_label .check:checked + label::after {
  opacity: 1;
  border-left: 3px solid #14c177;
  border-bottom: 3px solid #14c177;
}
#cresult_box {
  padding: 1rem;
  font-size: 1.3rem;
  color: #666;
  /*调解结果条件*/
  /*调解结果状态*/
  /*上传文件*/
  /*确认保存*/
}
#cresult_box .result_condition,
#cresult_box .result_state,
#cresult_box .fileUp,
#cresult_box .confirm {
  padding: 1rem;
  line-height: 2rem;
  background: #fff;
  border-radius: .5rem;
  margin-bottom: 1rem;
}
#cresult_box .result_condition .result_condition1 {
  display: flex;
  align-items: center;
  align-content: flex-start;
  margin-right: .5rem;
  position: relative;
}
#cresult_box .result_condition .result_condition1 .checkbox {
  width: 1.6rem;
  height: 1.6rem;
  display: none;
}
#cresult_box .result_condition .result_condition1 .labelbox {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20%;
  position: absolute;
  top: 0;
  left: 0;
}
#cresult_box .result_condition .result_condition1 .checkbox:checked + .labelbox {
  border: 1px solid #60c89b;
}
#cresult_box .result_condition .result_condition1 .checkbox:checked + .labelbox:after {
  content: '';
  width: 1.2rem;
  height: .7rem;
  position: absolute;
  top: .2rem;
  left: .2rem;
  border-top: none;
  border-right: none;
  border-left: 3px solid #60c89b;
  border-bottom: 3px solid #60c89b;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#cresult_box .result_condition .result_condition1 .labelInfo {
  padding-left: 2rem;
}
#cresult_box .result_condition .result_condition1 .labelInfo .input_add {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #ccc;
  width: 2rem;
  padding: 0 .5rem;
  font-size: 1.3rem;
  outline: none;
  color: #14c177;
}
#cresult_box .result_condition .result_condition1:after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
}
#cresult_box .result_state {
  display: flex;
}
#cresult_box .result_state .result_state1 {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
}
#cresult_box .result_state .result_state1 .checkbox {
  width: 1.6rem;
  height: 1.6rem;
  display: none;
}
#cresult_box .result_state .result_state1 .labelbox {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
#cresult_box .result_state .result_state1 .checkbox:checked + .labelbox {
  border: 1px solid #60c89b;
}
#cresult_box .result_state .result_state1 .checkbox:checked + .labelbox:after {
  content: '';
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: #60c89b;
  position: absolute;
  top: .2rem;
  left: .2rem;
}
#cresult_box .result_state .result_state1 .labelInfo {
  padding-left: 2rem;
}
#cresult_box .result_state .result_state1 .labelInfo .input_add {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #ccc;
  width: 2rem;
  padding: 0 .5rem;
  font-size: 1.3rem;
  outline: none;
  color: #14c177;
}
#cresult_box .result_state .result_state1:after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
}
#cresult_box .result_state .result_state1 img {
  width: 15%;
  margin-right: .5rem;
}
#cresult_box .fileUp {
  display: flex;
  justify-content: center;
  color: #14c177;
  margin-bottom: 10rem;
}
#cresult_box .fileUp img {
  width: 7%;
  height: 7%;
}
#cresult_box .confirm {
  width: 100%;
  color: #fff;
  background-color: #14c177;
  text-align: center;
}
