<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcjaas.mediation.mapper.MediatorMapper">

    <!--插入-->
    <insert id="addMediator">
        insert into t_mediator(name,
        phone_num,field,organization,sex
        ,mediating_count,prepare_mediate_count,
        success_mediated_count,failed_ediated_count,state)
        values ( #{name},#{phone_num},#{field},#{organization},#{sex},#{mediating_count},#{prepare_mediate_count}
        ,#{success_mediated_count},#{failed_ediated_count},#{state});
    </insert>

    <!--根据id查找-->
    <select id="selectMediatorById" parameterType="int" resultType="Mediator">
        SELECT * FROM t_mediator where id=#{id}
    </select>

    <!--查找所有-->
    <resultMap type="Law" id="MediatorMap">

        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="phone_num" property="phone_num"/>
        <result column="field" property="field"/>
        <result column="organization" property="organization"/>
        <result column="sex" property="sex"/>
        <result column="mediating_count" property="mediating_count"/>
        <result column="prepare_mediate_count" property="prepare_mediate_count"/>
        <result column="success_mediated_count" property="success_mediated_count"/>
        <result column="failed_ediated_count" property="failed_ediated_count"/>
        <result column="state" property="state"/>

    </resultMap>
    <select id="selectMediatorsByPage" parameterType="string" resultMap="MediatorMap">
        SELECT * FROM t_mediator where 1=1
        <if test='search!=null and search!=""'>
            and name like '%${search}%'
        </if>
    </select>

    <!--根据id删除-->
    <delete id="deleteMediator" parameterType="int">
        delete from t_mediator where id=#{id}
    </delete>

    <!--修改-->
    <update id="modifyMediator" parameterType="Mediator">
        update t_mediator set
          name=#{name},
          phone_num=#{phone_num},
          field=#{field},
          organization=#{organization},
          sex=#{sex}
        where
           id=#{id}
    </update>

</mapper>

