<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcjaas.mediation.mapper.MediatorMapper">

    <!--根据id查找-->
    <select id="selectMediatorById" parameterType="int" resultType="Mediator">
        SELECT * FROM t_mediator where id=#{id}
    </select>

    <!--根据调解员id查找他的所有案例-->
    <resultMap type="Case" id="CaseMap">
        <id column="case_id" property="case_id"/>
        <result column="case_type" property="case_type"/>
        <result column="case_state" property="case_state"/>
        <result column="case_user_id" property="case_user_id"/>
        <result column="case_mediator_id" property="case_mediator_id"/>
    </resultMap>

    <select id="selectMediatorCaseById" parameterType="int" resultMap="CaseMap">
        SELECT * FROM t_case where case_mediator_id=#{id}

    </select>


</mapper>

