<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcjaas.mediation.mapper.MediatorMapper">

    <!--根据id查找-->
    <select id="selectMediatorById" parameterType="int" resultType="Mediator">
        SELECT * FROM t_mediator where id=#{id}
    </select>

    <!--根据调解员id查找他的所有案例-->
    <resultMap id="caseResultMap" type="Case">
            <id column="case_id" property="case_id"/>
            <result column="case_type" property="case_type"/>
            <result column="case_state" property="case_state"/>
            <result column="case_user_id" property="case_user_id"/>
            <result column="case_mediator_id" property="case_mediator_id"/>
            <result column="user_judged" property="user_judged"/>
            <result column="details" property="details"/>
            <result column="court" property="court"/>
            <result column="create_date" property="create_date"/>
            <result column="type_name" property="type_name"/>
            <result column="state_name" property="state_name"/>
    </resultMap>
    <select id="selectMediatorAllCasesById" parameterType="int" resultMap="caseResultMap">
        SELECT * FROM
        t_case
        JOIN t_case_type ON t_case.case_type = t_case_type.case_type
        join t_case_state on t_case.case_state=t_case_state.case_state
        WHERE
        t_case.case_mediator_id = #{mediatorId}
    </select>

</mapper>

