<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcjaas.mediation.mapper.UserMapper">
    <!--register.html插入用户数据-->
    <insert id="addUser" useGeneratedKeys="true" keyProperty="userId">
      insert into t_user(user_name,user_sex,user_birth,user_card_id,user_phone_num,user_native_place,user_nation,user_address)
       values ( #{userName},#{userSex},#{userBirth},#{userCardId},#{userTel},#{userJig},#{userMinz},#{userAddr});
    </insert>

    <!--choice-mediate.html中查到3个调解员返回给页面-->
    <resultMap id="choose3" type="Mediator">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="phone_num" property="phone_num"/>
        <result column="picture" property="picture"></result>
    </resultMap>
    <select id="selectThreeMediators" resultMap="choose3">
      SELECT * FROM t_mediator limit 0,3;
    </select>

    <!--挑选备用的两个调解员-->
    <insert id="insertTwoMediators" parameterType="ArrayList" useGeneratedKeys="true" keyProperty="state_0_id">
        insert into t_case_state_prepare(state_0_user_id,state_0_mediator_id)
        VALUES 
        <foreach collection="list" item="item" separator=",">
            (#{item.state_0_user_id},#{item.state_0_mediator_id})
        </foreach>
    </insert>

    <insert id="insertCase" >
        insert into t_case(case_state,case_user_id)
        VALUES (0,#{case_user_id});
    </insert>

    <select id="selectOne" parameterType="int" resultType="User">
        SELECT * FROM t_user WHERE user_id=#{userId}
    </select>

</mapper>

