<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon"  th:href="@{/chqimage/favicon.ico}" type="image/x-icon">
    <title>调解结果</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" th:href="@{/m-css/m-caseresult.css}">
    <script type="text/javascript" th:src="@{/chqjs/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/chqjs/vue.min.js}"></script>
</head>
<body>
    <!--顶部标题-->
    <div id="head">
        <a href="#" class="return_img"><img src="/m-image/icon-fanhui.png" alt=""></a>
        <p class="head_title">调解结果</p>
    </div>

    <div id="cresult_box">
        <!--调解结果条件-->
        <div class="result_condition">
            <div class="result_condition1">
                <!--<div class="isChoice_box">-->
                    <input type="checkbox" :id="mediator.id" name="check" class="checkbox">
                    <label :for="mediator.id" class="labelbox"></label>
                <!--</div>-->
                <!--<img src="/m-image/duoxuan.png" alt="">-->
                <span>双方同意离婚</span>
            </div>
            <div class="result_condition1">
                <input type="checkbox" :id="mediator.id" name="check" class="checkbox">
                <label :for="mediator.id" class="labelbox"></label>
             <!--   <img src="/m-image/duoxuan.png" alt="">-->
                <span>孩子归甲方抚养</span>
            </div>
            <div class="result_condition1">
                <input type="checkbox" :id="mediator.id" name="check" class="checkbox">
                <label :for="mediator.id" class="labelbox"></label>
              <!--  <img src="/m-image/duoxuan.png" alt="">-->
                <span>孩子归乙方抚养</span>
            </div>
            <div class="result_condition1">
                <input type="checkbox" :id="mediator.id" name="check" class="checkbox">
                <label :for="mediator.id" class="labelbox"></label>
                <!--<img src="/m-image/duoxuan.png" alt="">-->
                <span>孩子抚养费约定，<input type="text">方每月付<input type="text">元抚养费给<input type="text">方</span> </span>
            </div>
        </div>
        <!--调解结果状态-->
        <div class="result_state">
            <p class="result_state1">
                <img src="/m-image/danxuan.png" alt="">
                <span>调解成功</span>
            </p>
            <p class="result_state1">
                <img src="/m-image/danxuan.png" alt="">
                <span>调解失败</span>
            </p>
        </div>
        <!--上传文件-->
        <div class="fileUp"><img src="/m-image/icon-shangchuan.png" alt="">上传文件</div>
        <!--确认保存-->
        <div class="confirm">确认保存</div>
    </div>

    <script>
        /*选中调解结果条件，改变选中图片*/
/*
        var rc1 = $('.result_condition1');//所有调解结果条件
        var rs1 = $('.result_state1');//所有调解结果状态
        rc1.on('click',function(){//点击条件行
            //var i = $(this).index();
            if($(this).children().eq(0).attr('src') === '/m-image/duoxuan.png'){//判断图标src
                $(this).children().eq(0).attr('src','/m-image/duoxuany.png');
            }else{
                $(this).children().eq(0).attr('src','/m-image/duoxuan.png');
            }
        });
*/

    </script>
</body>
</html>