<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon"  th:href="@{/chqimage/favicon.ico}" type="image/x-icon">
    <title>调解详情</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" th:href="@{/m-css/m-casedetail.css}">
    <script type="text/javascript" th:src="@{/chqjs/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/chqjs/vue.min.js}"></script>
</head>
<body>
<!--顶部标题-->

<div id="head">
    <a href="#" class="return_img float_left"><img src="/m-image/icon-fanhui.png" alt=""></a>
    <p class="head_title">调解详情</p>
</div>
<div id="casedetail_box">
    <!--纠纷事项-->
    <div class="ca_case">
        <p class="float_left">原告：<span class="ca_ygName">张三</span></p>
        <p class="float_left">手机号码：<span class="ca_ygTel">111111111111</span></p>
        <p class="float_left">被告：<span class="ca_bgName">李四</span></p>
        <p class="float_left">手机号码：<span class="ca_bgTel">111111111111</span></p>
        <p>纠纷事项：
            <span class="ca_jfcase">
            纠纷事项纠纷事项纠纷事项纠纷事项纠纷事项纠纷事项纠纷事项纠纷事项纠纷事项纠纷事项纠纷事项纠纷事项
         纠纷事项纠纷事项纠纷事项纠纷事项纠纷事项纠纷事项纠纷事项纠纷事项纠纷事项纠纷事
            </span>
        </p>
    </div>
    <!--申请相关-->
    <div class="ca_other">
        <p>申请人：<span>张三</span></p>
        <p>申请时间：<span>2017-12-25</span></p>
        <p>申请来源：<span>通过崇州市人名法院诉讼法务厅，小崇机器人申请</span></p>
        <p>受理时间：<span>2017-12-18</span></p>
    </div>
    <!--是否受理-->
    <div class="ca_detail">
        <a href="m-casediary.html"><div class="ca_detail_diary">调解日志</div></a>
        <a href="m-caseresult.html"><div class="ca_detail_result">调解结果</div></a>
    </div>
</div>
<script>

</script>

</body>
</html>